/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "variables";
@import "buttons";

html {
  @include mat.theme-overrides((
      corner-extra-large: 8px,
  ));
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

//TODO: should be separated
::ng-deep .custom-dialog .mat-dialog-container {
  border-radius: 20px;
}


@include mat.stepper-overrides((
    header-icon-foreground-color: #ffffff,
    header-selected-state-icon-background-color: #ffffff,
    header-selected-state-icon-foreground-color: #000000,
    header-edit-state-icon-background-color: #000000
));