@import 'breakpoints';
@import 'page';

:host {
  .creator-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    .upload-container {
      max-width: var(--component-max-width);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      app-file-uploader {
        display: block;
        margin-top: 20px;
      }
    }

    .canvas-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-grow: 1;

      app-image-canvas {
        display: block;
        max-width: 100%;
        margin: 30px 0 auto;
      }

      .actions-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 40px;
          border-radius: 1em;
          font-weight: bold;
          border: 1px solid black;
          cursor: pointer;
        }

        .back-button {
          background: white;
        }

        .continue-button {
          color: white;
          background: black;
        }
      }
    }
  }
}

@import 'upload-with-preview.component.tablet';
