@import 'breakpoints';
@import 'page';

:host {
  .creator-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    .upload-container {
      max-width: var(--component-max-width);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;

      app-file-uploader {
        display: block;
        margin-top: 20px;
      }
    }

    .canvas-container {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex-grow: 1;

      .image-canvas-container {
        height: 600px
      }
    }
  }
}

@import 'upload-with-preview.component.tablet';
