:host {
  max-width: 600px;

  .container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    app-file-uploader {
      display: block;
    }
  }

  .canvas-container {
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  app-image-canvas {
    display: block;
    max-width: 100%;
    margin: 30px 0 auto;
  }
}
