<div class="container">
  <app-file-uploader (deletedFileEmitter)="onFileDeleted($event)"
                     (filesOrderChanged)="onFilesReload($event)"
                     (uploadedFilesEmitter)="onFileSelected($event)"
  />
</div>
<div class="canvas-container">
  <mat-tab-group>
    @for (imageName of getAllImagesNames(); track imageName; let i = $index) {
      <mat-tab [label]="'Floor '+i">
        <app-image-canvas [imageUrl]="imagesUrls[imageName]" />
      </mat-tab>
    }
  </mat-tab-group>
</div>
