<section class="login-page page-content">
  <div class="content-container">
    <h1>Deskmate</h1>
    <p>Take Control of Your Office Space – Intuitively and Efficiently</p>
  </div>

  <div class="login-container">
    <div class="login-header">Login</div>
    <form
        [formGroup]="formGroup"
        (ngSubmit)="submit()"
        class="form">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input
            formControlName="username"
            matInput
            placeholder="Max123"
            value="" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input
            matInput
            formControlName="password"
            placeholder=""
            type="password"
            value="" />
      </mat-form-field>

      <button
          class="login-button"
          type="submit">
        Login
      </button>
    </form>
  </div>
</section>
