<div class="file-uploader-container">
  <app-file-uploader-drop-zone (uploadedFileEmitter$)="uploadedFiles($event)" />

  <div
      (cdkDropListDropped)="drop($event)"
      cdkDropList
      class="drag-and-drop-container">
    @for (file of files; track $index) {
      <div class="upload">
        Floor {{ $index }}
        <hr class="divider" />
        <app-uploaded-image
            [image]="file"
            cdkDrag
            (onDeletedImage)="deletedFile(file)" />
      </div>
    }
  </div>
</div>
