<div class="page-header"><h1>PAGE TITLE</h1></div>
<div class="admin-dashboard page-content">
  <div class="flex-container">
    <div class="buildings">
      <p
      >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p
      >
      <ng-container *ngIf="buildings$ | async as buildings">
        <app-office-building-list [buildings]="buildings" />
      </ng-container>
    </div>
    <app-profile-card />
  </div>

  <div class="editor-card">
    <hr class="divider" />
    <p
      >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p
    >
    <button class="new-building-button" (click)="navigateToOfficeCreator($event)">
      <app-icon icon="add_circle" />
    </button>
  </div>
</div>
