<!--<div class="admin-dashboard">-->
<!--  <div class="left-bar">-->
<!--    <div class="profile-card"> Admin</div>-->
<!--    <div class="buildings-card">-->
<!--      <button>-->
<!--        <app-icon icon="add_circle" />-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="content"></div>-->
<!--</div>-->

<div class="admin-dashboard">
  <app-profile-card />

  <div class="buildings">
    <p
      >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p
    >

    <ng-container *ngIf="buildings$ | async as buildings">
      <app-office-building-list [buildings]="buildings" />
    </ng-container>
  </div>

  <div class="editor-card">
    <hr class="divider" />
    <p
      >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p
    >
    <button class="new-building-button" (click)="navigateToOfficeCreator($event)">
      <app-icon icon="add_circle" />
    </button>
  </div>
</div>
