@import 'breakpoints';
@import 'page';

:host {
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../../assets/login-page-background-4.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      right: 0;
      top: 100px;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: -1;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 64px;
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
        font-size: 22px;
      }
    }

    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;
      background: white;
      border-radius: 1em;

      .login-header {
        font-size: 22px;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;

        .login-button {
          border: 1px black solid;
          border-radius: 8px;
          background: black;
          font-size: 24px;
          color: white;
          height: 50px;
        }
      }
    }
  }
}

@import 'login-page.component.tablet';
