<div class="page-content">
  <div
    *ngIf="images | async as uploadedImages"
    class="floors-list">
    @for (image of uploadedImages; track $index) {
      <app-floor-item [floorNumber]="$index">
        <app-uploaded-image
          [image]="image"
          [isSelected]="selectedImage.file.name === image.file.name"
          (click)="onSelectImage(image)" />
      </app-floor-item>
    }
  </div>

  <div class="annotator-container">
    <app-image-canvas [imageUrl]="selectedImage.url" />
  </div>
</div>

<button
  (click)="onPreviousStateClick($event)"
  class="back-button">
  <app-icon [icon]="'arrow_circle_left'" />
  Back
</button>
<button
  (click)="onNextStateClick($event)"
  class="continue-button">
  Continue
  <app-icon [icon]="'arrow_circle_right'" />
</button>
