:host {
  .page-content {
    margin: 0 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .floors-list {
      width: var(--component-max-width);
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border-radius: 1em;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
  }

  .back-button {
    background: white;
  }

  .continue-button {
    color: white;
    background: black;
  }
}
