:host {
  .page-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 300px;

    .floors-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 400px;
    }
  }
}
