<div class="creator-navigation-buttons">
  @if (!onlyContinue) {
    <button
        (click)="backClicked($event)"
        class="back-button">
      <app-icon [icon]="'arrow_circle_left'" />
      Back
    </button>
  }
  @if (isSubmitButton) {
    <button type="submit"
            [disabled]="isPrimaryDisabled"
            (click)="continueClicked($event)"
            class="continue-button">
      Submit
      <app-icon [icon]="'send'" />
    </button>
  } @else {
    <button
        (click)="continueClicked($event)"
        class="continue-button"
        [disabled]="isPrimaryDisabled"
    >
      Continue
      <app-icon [icon]="'arrow_circle_right'" />
    </button>
  }
</div>
